<style>
    body 
            .img{
                margin-left:2% ;
            }
            .f1{
                align-items: center;
                font-family: Copperplate Gothic Bold;
                font-size: 20px;
            }
             .navbar{
                background-color: rgb(156, 201, 246);
                height: 85px;
                width: 400%;
                position: sticky;
                width: 100%;
                z-index: 200%;
                color: rgb(14, 15, 15);
                display: flex;
                align-items: center;
                
                .login{
        margin-left: 6%;
    }
    .Home{
      margin-left: 5%;
    }
    .h_booking{
      margin-left: 5%;
   }
   .ticket{
      margin-left: 5%;