body{
    font-family: 'Poppins', sans-serif;
    background: #bcbcc7;
    
}

nav{
    width: 100%;
    position: fixed;
    background-color: rgb(21, 74, 74);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 70px;
    margin: 20px;
    margin-left: 20px;
}
.title{
    color: #d4c9c9;
    font-size: 40px;
    margin-right: 300px;
    
}