.head{
    text-align: center;
    background-color: rgb(6, 148, 230);
    color: rgb(253, 251, 251);
   
}

nav{
    width: 100%;
    position: fixed;
    background-color: rgb(21, 74, 74);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 70px;
    margin: 20px;
    margin-left: 20px;
}