h1{
    font-size: 25px;
    text-align: center;
}
body{
    
        background-color: rgb(167, 205, 253);
     .imag{
        width: 100%;
     }
}
.img{
    margin-left:2% ;
}
.f1{
    align-items: center;
    font-family: Copperplate Gothic Bold;
    font-size: 20px;
}
 .navbar{
    background-color: rgb(95, 171, 248);
    height: 85px;
    width: 100%;
    position: sticky;
    width: 100%;
    z-index: 100%;
    color: rgb(14, 15, 15);
    display: flex;
    align-items: center;
    
    .login{
margin-left: 20%;
}
.Home{
margin-left: 7%;
}
.Contact{
margin-left: 7%;
}
.about{
margin-left: 7%;
}
.feedback{
margin-left: 7%;
}
.search{
margin-left: 7%;
}
.font{
color: #f2f2f2;
}
}
/* for tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {

.navbar{
background-color: rgb(95, 171, 248);
color: #0c0c0c;
.menu{
    margin-left: 20%;
}
.f1{
font-size: 15px;
}
.search{
display: none;
}
}
.menu-list{
display: none;
}
.hamburger-menu{
display: none;
}

}
/* for moblie */
@media screen and (min-width: 100px) and (max-width: 768px){
.login{
display: none;
}
.Home{
display: none;
}
.h_booking{
display: none;
}
.ticket{
display: none;
}
.Contact{
display: none;
}
.about{
display: none;
}
.feedback{
display: none;
}
.search{
display: none;
}
.font{
color: #f2f2f2;
}
}

.hamburger-menu {
position: relative;
display: inline-block;
margin-left: 25%;
align-items: center;
}

#menu-toggle {
display: none;
}

.menu-toggle-label {
position: relative;
display: block;
width: 30px;
height: 30px;
cursor: pointer;
}

.menu-icon {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 20px;
height: 2px;
background-color: rgb(56, 97, 232);
transition: all 0.3s;
}

.menu-list {
position: absolute;
top: 30px;
left: 0;
width: 200px;
background-color: rgb(158, 177, 237);
list-style: none;
padding: 0;
margin: 0;
display: none;
}

#menu-toggle:checked ~ .menu-list {
display: block;
}

.menu-list li {
padding: 10px;
border-bottom: 1px solid #ccc;
}

.menu-list li a {
color: #333;
text-decoration: none;
}

.menu-list li:hover {
background-color: #f2f2f2;
}



/*for laptop */
@media screen and (min-width: 992px) and (max-width: 1200px){
.navbar{
background-color:rgb(95, 171, 248);
color: #0c0c0c;
width: 100%;
}
.f1{
font-size: 15 px;
}
.menu{
    margin-left: 20%;
}
.img2{
    display: none;
}
.menu-list{
display: none;
}
.hamburger-menu{
display: none;
}
}
/* for big screen*/
@media screen and (min-width: 1200px) and (max-width: 3000px){
.img2{
display: none;
align-items: center;
}
.menu-list{
display: none;
}
.hamburger-menu{
display: none;
}
}


.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}

.sub{
    height: 450px;
    width: 400px;
    border: 5px;
    border-color: black;
    border-style: double;
    border-radius: 2%;
    box-shadow: 0px 0px 2px 2px rgb(232, 15, 174);   



    .img3{
        width: 100%;
        height: 90%;
        border-radius: 2%;
    }
    
    
}
.sub2{
    height: 40px;
    width: 400px;
    border: 5px;
    border-color: black;
    border-style: double;
    border-radius: 2%;
    border: 5%;
    margin-bottom: 100px;
    border-bottom-style: none;
    border-left-style: none ;
    border-right-style: none;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgb(232, 15, 174);   

    .btn{
        font-family: "roboto" , sans-serif;
        background-color: rgb(60, 159, 241);
        border-radius: 10px;
        border-style: double;
        font-size: 21px;
        box-shadow: 0px 0px 2px 2px rgb(232, 15, 174);   
        margin-top: 4px;  

    }
}

.f1{
    color: rgb(4, 4, 4);
}

.box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
}
.subbox{
    height: 450px;
    width: 250px;
    border: 5px;
    border-color: black;
    border-style: double;
    border-radius: 2%;
    box-shadow: 0px 0px 2px 2px rgb(232, 15, 174);   



    .img3{
        width: 100%;
        height: 50%;
        border-radius: 2%;
    }
    
    
}
.subbox2{
    height: 40px;
    width: 250px;
    border: 5px;
    border-color: black;
    border-style: double;
    border-radius: 2%;
    border: 5%;
    margin-bottom: 100px;
    border-bottom-style: none;
    border-left-style: none ;
    border-right-style: none;
    align-items: center;

    .btn{
        font-family: "roboto" , sans-serif;
        background-color: rgb(60, 159, 241);
        border-radius: 5px;
        border-style: double;
        font-size: 19px;
        box-shadow: 0px 0px 2px 2px rgb(232, 15, 174);   
        margin-top: 10px;  
        margin-left: 30px;

    }
}
h3{
    text-align: center;
}
.f2{
    font-size: 13px;
    align-items: center;
    text-align: center;
}

.f6{
    font-size: 30px;
}

.img4{
    height: 40px;
    padding-left: 10px;
}
 .imag{
    width: 100%;
 }

 .felx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;

}
.hotel-card {
    width: 450px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 3%;
    background-color: #2196F3;

  }
  
  .hotel-image {
    width: 95%;
    height: 95%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    padding: 10px;
  }
  
  .hotel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hotel-info {
    width: 89%;
    height: 50px;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.btn1{
    font-size: 30px;
    margin-bottom: 60px;
    border: 3px;
    border-radius: 2px;
    border-style: double;
    background-color: #2196F3;
    color: #fff;
}