h1{
    font-size: 25px;
    text-align: center;
}

.box{
    display: flex;
    height: 800px;
    width: 700px;
    padding: 3%;
    
}

.sub{
    height: 450px;
    width: 400px;
    border-color: black;
    border-style: double;
    border-radius: 2%;
    border: 5%;
    
}
.sub2{
    height: 200px;
    width: 200px;
    border-color: black;
    border-style: double;
    border-radius: 2%;
    border: 5%;
    
}

