body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.navbar{
    background-color: rgb(95, 171, 248);
    height: 85px;
    width: 100%;
    position: sticky;
    width: 100%;
    z-index: 100%;
    color: rgb(14, 15, 15);
    display: flex;
    align-items: center; 

    .login{
        margin-left: 20%;
        }
   .Home{
            margin-left: 7%;
            }
              
            .h_booking{
                margin-left: 7%;
                }
                .ticket{
                    margin-left: 7%;
                    }
                    
                         
        
