body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.navbar{
    background-color: rgb(95, 171, 248);
    height: 85px;
    width: 100%;
    position: sticky;
    width: 100%;
    z-index: 100%;
    color: rgb(14, 15, 15);
    display: flex;
    align-items: center; 

    .login{
        margin-left: 20%;
        }
   .Home{
            margin-left: 7%;
            }
              
            .h_booking{
                margin-left: 7%;
                }
                .ticket{
                    margin-left: 7%;
                    }
                    .Contact{
                        margin-left: 7%;
                        }
                        .about{
                        margin-left: 7%;
                        }
                        .feedback{
                        margin-left: 7%;
                        }
                        .search{
                        margin-left: 7%;
                        }
                        .font{
                        color: #f2f2f2;
                        }
                        }
                        /* for tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .navbar{
    background-color: rgb(95, 171, 248);
    color: #0c0c0c;
    .menu{
        margin-left: 20%;
    }
    .f1{
    font-size: 15px;
    }
    .search{
    display: none;
    }
    }
    .menu-list{
    display: none;
    }
    .hamburger-menu{
    display: none;
    }
    
    }
    .hamburger-menu {
        position: relative;
        display: inline-block;
        margin-left: 25%;
        align-items: center;
        }
        
        #menu-toggle {
        display: none;
        }
        .menu-toggle-label {
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            cursor: pointer;
            }
            
            .menu-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 2px;
            background-color: rgb(56, 97, 232);
            transition: all 0.3s;
            }
            
                        
                         
        
